.sign{
    grid-column: 4 / 5;

    font-size: 22px;

    display: flex;
    justify-content: flex-end;
    align-items: center;   
}

.sign a{
    color: rgb(59, 50, 50);
}

.sign span{
    margin-left: 5px;
    margin-top: 3px;
}

.sign a:hover{
    color: white;
}

.sign a:hover + span{
    color: white;
}
