.profileInfo{
    padding: 10px 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    color: var(--main-red);
}
.likes{
    color: var(--main-red);
    position: relative;
}

.countLikes{
    margin-left: 3px;
}
.countview{
    margin-left: 3px;
}
