.navigation{
    padding: 10px 20px;
}
.navigation ul{
    list-style: none;
    padding: 0;
    user-select: none;
    font-size: 15px;
}

.navigation li{
    display: flex;
    align-items: center;
    text-align: left;
    margin-top: 5px;
    letter-spacing: 3px;
    font-weight: 700;  
}
.navigation span {
    color: white;
}
.navigation a{
    width: 100%;
    color: white; 
}
.navigation a:hover{
    color: white; 
    opacity: 0.5;
}

.navigation a:hover + span{
    color: white; 
    opacity: 0.5;
}

.navigation .activeLink{
    color: var(--main-red);
}
.navigation .activeLink + span{
    color: var(--main-red);
}