.navigation{
    padding: 10px 20px;
}
ul{
    list-style: none;
    padding: 0;
}

li{
    display: block;
    text-align: left;
    margin-top: 5px;
    letter-spacing: 3px;
    font-weight: 700;
}
a{
    width: 100%;
    color: white; 
}
a:hover{
    color: white; 
    opacity: 0.5;
}

.activeLink{
    color: #ff7e7e;
}