.headerWrapper{
    padding: 5px 10px;
    display: grid;
    grid-template-columns: auto auto 1fr 150px;
    grid-gap: 5px;
    align-content: center;

    background-color: #f1f1f1;
    margin-bottom: 20px;
}

.headerWrapper p{
    align-self: end;
    font-size: 1.2em;
    color: #ffffff;
    font-weight: 700;
    letter-spacing: 2px;
    line-height: 1;
    user-select: none; 
}