header{
    padding: 10px 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5px;
}

.logoItem{
    display: flex;
}

.logo{
    width: 25%;
}

.logo a{
    flex: 1 0 100%;
}

.logo a img{
    max-width: 100%;
    height: auto;
}
p{
    
}