*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-size: 18px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  color: #03080fc7;
}

a{
  text-decoration: none;
}

.wrapper{
  width: 1240px;
  margin: auto;
  height: 100vh;
  overflow: hidden;
  
  display: grid;
  grid-template-columns: minmax(300px, 1fr) minmax(940px, 3fr); 
  grid-template-rows: 50px 1fr minmax(100px, auto);
  grid-template-areas: 
  "h h"
  "s c"
  "f f";
  grid-gap: 10px;
}

header{
  grid-area: h;
  /* background-color: rgb(193 218 214); */


}
.sidebar{
  grid-area: s;
   background-color: rgb(193 218 214); 
  background-color:rgb(128, 128, 128)
  
}
main{
  grid-area: c;
  background-color: darkgrey;
  background-color: rgb(193 218 214); 
}
footer{
  
  grid-area: f;
  /* background-color: dimgray;
  background-color: rgb(193 218 214); */
}

