*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-size: 18px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  color: #03080fc7;
}

a{
  text-decoration: none;
}

.mainWrap{

  /* main color */
  --main-red: #ff5a5f;
  /* main background color */
  /* --bgc: rgb(128, 128, 128); */
  --bgc: rgb(173, 173, 173);

  /* vars */
  /* --box-shadow-color: firebrick; */
  --box-shadow-color: cadetblue;

  /*  */
}

.wrapper{
  width: 1240px;
  margin: auto;
  height: 100vh;
  overflow: hidden;
  
  display: grid;
  grid-template-columns: minmax(300px, 1fr) minmax(940px, 3fr); 
  grid-template-rows: 50px 1fr minmax(100px, auto);
  grid-template-areas: 
  "h h"
  "s c"
  "f f";
}

header{
  grid-area: h;
  padding: 0 5px 3px 5px;
}
.sidebar{
  grid-area: s;
  padding: 10px 5px 0 5px;
}
main{
  grid-area: c;
  padding: 10px 5px 0 5px;
}
footer{
  grid-area: f;
}

